{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Добавление книги{% endblock %}

{% block body %}
    <h1><u>Добавить автоматически:</u></h1><br>
    <form action="{% url 'add_with_litres' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form><br><br>
    <h1><u>Добавить вручную:</u></h1><br>
    <div class="container">
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="save btn btn-default">Сохранить</button>
        </form><br>
    </div>
{% endblock %}