{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создание рейтинга{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
        <form action="{% url 'login' %}">
            <button>Войдите, чтобы составить свой рейтинг книг</button>
        </form>
    {% else %}
        <div class="container-fluid">
             <h1>Пожалуйста, введите книги, которые войдут в ваш рейтинг</h1>
        </div>
        <div class="container">
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-default">Сохранить</button>
            </form><br>
            <a href="{% url 'make_top' %}" class="btn btn-primary">Создать рейтинг</a>
        </div>
    {% endif %}
{% endblock %}