{% extends 'base.html' %}

{% block title %}
    Main title
{% endblock %}

{% block body %}
    <h1>Книги в жанре {{ my_genre }}</h1>
    {% for book in page_obj %}
        <div class="card text-center">
            <div class="card-header">
                <a href="{% url 'books_author' book.author %}" ><u>{{ book.author }}</u></a>
            </div>
            <div class="card-body">
                <div class="media">
                    <img src="{{ book.image.url }}" width="150" height="250">
                </div>
                <div class="media-body">
                    <div class="media-body">
                        <h5 class="card-title">{{ book.name }}</h5>
                        <p class="card-text">{{ book.description|safe|linebreaks|truncatewords:50 }}</p>
                        <a href="{% url 'info_about_book' book.id 0 %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        </div><br>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-primary">&laquo; 1</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}