{% extends 'base.html' %}

{% block body %}
    <p>
        {% if is_read %}
            <a href="{% url 'read_list' %}">Прочитанные книги</a>
        {% else %}
            Ваш список прочитанного пока пуст
        {% endif %}
    </p>
    <p>
        {% if wish_list %}
            <a href="{% url 'user_wishlist' %}">Ваш список желаемого</a>
        {% else %}
            <u>Ваш список желаемого пока пуст</u>
        {% endif %}
    </p>
    <p>
        <a href="{% url 'add_book_top' %}">Создать свой рейтинг</a>
    </p>
    <br><br>
    <h5>Введите название книги, которую вы хотите добавить на наш сервис:</h5>
    <form action="{% url 'add_with_litres' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endblock %}