{% extends 'base.html' %}

{% block body %}
    <p>
        {% if is_read %}
            <a href="{% url 'read_list' %}">Прочитанные книги</a>
        {% else %}
            Ты лох, который ничего не прочитал((
        {% endif %}
    </p>
    <p>
        {% if wish_list %}
            <a href="{% url 'user_wishlist' %}">Ваш список желаемого</a>
        {% else %}
            <u>Ваш список желаемого пока пуст</u>
        {% endif %}
    </p>
    <a class="nav-link" href="{% url 'add_book_top' %}">Создать свой рейтинг</a>
    <br><br>
    <form action="{% url 'add_with_litres' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
{% endblock %}